.container{
    width: 500px;
    height: max-content;
    margin: auto;
    background-color: #ebebeb;
    padding: 40px 30px;
    margin-top: 20px;
    margin-bottom: 25px;
    border-radius: 7px;
    font-family: sans-serif;
    box-shadow: 10px 11px rgba(0,0,0,0.7);
}

h2{
    margin: 0;
}

.login-form{
    padding: 5px;
}

.form-field {
    display: inline-block;
    padding: 5px;
    margin-top: 20px;
}

.button{
    margin-top: 10px;
}

.form-error {
    display: block;
    margin-top: 10px;
    color: rgb(237,67,55);
    font-size: 0.9em;
}